.bg_black{
    background: #000;
    height: 500px;
    width: 500px;  
}
.bg_blue{
    background-color: blue;
}
.bg_red{
    background-color: red;
}
.bg_green{
    background-color: green;
}
.br_black{
    background: #000;
}
.bg_orange{
    background-color: orange;
    height: 10%;
    
}
.tr{
    display: flex;
    height: 80%;
justify-self: flex-start;}
.dw{
    width: 25%;
    height: 100%;
}
